# Converting Data Types

In [ ]:
# An integer variable can't be added to a string variable

In [1]:
num_int = 7

type(num_int)

int

In [2]:
num_str = '7'

type(num_str)

str

In [4]:
num_str_converted = int(num_str)

type(num_str_converted)

int

In [6]:
num_sum = num_int + num_str_converted

print(num_sum)

14

# Converting Lists, Sets and Tuples

In [2]:
list_type = [1,2,3]

type(list_type)

list

In [3]:
# Converting the above to a tuple

tuple(list_type)

(1, 2, 3)

In [4]:
# Converting a list into a set

list_type = [1,2,3,3,2,1,2,3,1]

set(list_type)

# Note that sets only prints out unique values. In this case, the unique values are 1,2, and 3 since the numbers just repeated

{1, 2, 3}

In [5]:
# Converting dictionary

dict_type = {'name': 'Alex', 'age': 28, 'hair': 'N/A'}

type(dict_type)

dict

In [6]:
dict_type.items()

dict_items([('name', 'Alex'), ('age', 28), ('hair', 'N/A')])

In [7]:
dict_type.values()

dict_values(['Alex', 28, 'N/A'])

In [9]:
dict_type.keys()

dict_keys(['name', 'age', 'hair'])

In [10]:
# Converting the above into a list

list(dict_type.keys())

['name', 'age', 'hair']

In [11]:
# Converting values into list

list(dict_type.values())

['Alex', 28, 'N/A']

In [13]:
# Converting a long string into a list

long_str = 'I love GOD'

list(long_str)

['I', ' ', 'l', 'o', 'v', 'e', ' ', 'G', 'O', 'D']