# Data Types

In [1]:
# Note:

# Data types are the classfication of the data being stored.
# These classfications tell what kind of operation can be performed on the data
# Main data types in Python are numeric, sequence type, boolean and dictionary 
# Numeric data type includes integers, float and complex numbers
# An integer is a whole number whether it is positive or negative
# A float consists of a decimal number 
# A complex number is useed for imaginary numbers. J is always used as that imaginary number
# Boolean has only two built-in values; true and false. It can be used as a comparison operator.

# Strings are arrays of bytes representing unicode characters. They are usually put in a single, double or triple quote.
# The triple quotes can be used for multiline printing especially when printing out a poem

# Strings

In [2]:
# Example of triple quote used for string variables
multiline = """
Oh how I love my Baby Girl
I am so glad I met her.
I can clearly tell she is one of the blessings GOD ever gave me.
I love my Baby!

"""

print(multiline)

Oh how I love my Baby Girl
I am so glad I met her.
I can clearly tell she is one of the blessings GOD ever gave me.
I love my Baby!

In [3]:
# Example 2 of multiline strings within a variable but with a quotation mark within the string 
multiline2 = """
I've always wanted to "marry early"

"""

print(multiline2)

I've always wanted to "marry early"

In [4]:
# Searching though a string using index 
a = 'Hello World!'
print(a[:5])

# This displays from the start of string to the fifth position

Hello

In [5]:
a = 'Hello World!'
print(a[2:5])

# This displays characters from the 3rd to 5th positions within the string. For arrays, the first index is always 0.

llo

# Lists

In [ ]:
# NOTES

# Lists store multiple separate values unlike strings that store one value but of multiple characters. 
# The comma in the list denotes that they are separate values. An example is shown below.
# A list is indexed exactly how a string is indexed. First position is always indexed as 0. 
# A list can contain any data type.
# A list can contain a list.
# Lists are changeable.

In [6]:
[1,2,3]

[1, 2, 3]

In [7]:
['Cookie Dough','Strawberry', 'Chocolate']

['Cookie Dough', 'Strawberry', 'Chocolate']

In [8]:
# Creating a list containing different data types and another list. 

['Vanilla', 3, ['Scoops','Spoon'], True]

['Vanilla', 3, ['Scoops', 'Spoon'], True]

In [11]:
# Adding a value to an already-existing list that has been created.

ice_cream = ['Cookie Dough','Strawberry', 'Chocolate']
ice_cream.append('Salted Caramel') # This adds the value to the end of the original created list.

print(ice_cream)

['Cookie Dough', 'Strawberry', 'Chocolate', 'Salted Caramel']

In [12]:
# Changing a value within an already-existing list

ice_cream[0] = 'Butter Pacan'

ice_cream

['Butter Pacan', 'Strawberry', 'Chocolate', 'Salted Caramel']

In [14]:
nested_list = ['Vanilla', 3, ['Scoops','Spoon'], True]

nested_list[0]

'Vanilla'

In [15]:
nested_list[1]

3

In [16]:
nested_list[2]

['Scoops', 'Spoon']

In [17]:
nested_list[2][1]

'Spoon'

In [18]:
nested_list[3]

True

# Tuple

In [ ]:
# NOTES

# It is something called immutable. This means it cannot be modified or changed after it's created.
# A tuple is also indexed.
# The append function can't be used to add another value to an existing tuple. This gives an error which then confirms that a tuple is immutable.

In [19]:
tuple_scoops = (1,2,3,4,5)
type(tuple_scoops)

tuple

# Sets

In [ ]:
# NOTES
# The values within a set can't be accessed using index because it doesn't have one.
# A set is similar to list and tuple but a little different.
# A set doesn't have any duplicate elements. 
# A set is usually unordered.
# Items can be looped within a set but they can't be accessed using the brackets to access its index.
# If a set consists of duplicate values, in printing it out, it only displays unique values.

In [20]:
daily_pints = {1,2,3}

type(daily_pints)

set

In [21]:
# An example of a set displaying unique values only

daily_pints_log = {1,2,31,2,3,4,1,2,5,6,3,2}

print(daily_pints_log)

{1, 2, 3, 4, 5, 6, 31}

In [22]:
# Printing out unique values of 2 separate sets as one

wife_daily_pint_log = {1,3,5,7,3,24,5,7,3,2,0}

print(daily_pints_log | wife_daily_pint_log)

{0, 1, 2, 3, 4, 5, 6, 7, 24, 31}

In [23]:
# Displaying common uinque values from two different sets

print(daily_pints_log & wife_daily_pint_log)

{1, 2, 3, 5}

In [24]:
# Displaying uinque values from 2 sets that don't have common values. In other words, these numbers don't match.

print(daily_pints_log - wife_daily_pint_log)

{4, 6, 31}

In [25]:
# Displaying values that are in one or the but not in both

print(wife_daily_pint_log ^ daily_pints_log)

{0, 4, 6, 7, 24, 31}

# Dictionaries

In [ ]:
# This is more of a key-value pair
# Example:
# variable_name = {'key1':'value1','key2':'value2'}
# A list can be added to a dictionary
# A "key:value" pair is termed as 1 item.
# A dictionary is called by the key
# Information can be updated in a dictionary

In [34]:
dict_cream = {'name': 'Lex Freberg', 'weekly intake': 5, 'favourite icecreams': ['MCC', 'Chocolate']}
print(dict_cream)

{'name': 'Lex Freberg', 'weekly intake': 5, 'favourite icecreams': ['MCC', 'Chocolate']}

In [27]:
type(dict_cream)

dict

In [35]:
# Checking for all values within dictionary

dict_cream.values()

dict_values(['Lex Freberg', 5, ['MCC', 'Chocolate']])

In [36]:
# Checking for keys within dictionary

dict_cream.keys()

dict_keys(['name', 'weekly intake', 'favourite icecreams'])

In [31]:
# Chcking for items within a dictionary

dict_cream.items()

dict_items([('name', 'Lex Freberg'), ('weekly intake', 5), ('avourite icecreams', ['MCC', 'Chocolate'])])

In [37]:
# Calling a dictionary by the key

dict_cream['name']

'Lex Freberg'

In [41]:
# Updating the value of a key within a dictionary

dict_cream['name'] = 'Christine Freberg'

print(dict_cream)

{'name': 'Christine Freberg', 'weekly intake': 5, 'favourite icecreams': ['MCC', 'Chocolate']}

In [43]:
# Updating all values of keys within a dictionary one time or at a go

dict_cream.update({'name': 'Christine Freberg', 'weekly intake': 5, 'weight': 300})
print(dict_cream)

# This adds a key called "weight" and its value 300 to the already-existing dictionary

{'name': 'Christine Freberg', 'weekly intake': 5, 'favourite icecreams': ['MCC', 'Chocolate'], 'weight': 300}

In [ ]:
# Note that a key and its value can be deleted.
# Here's how:

# del dict_cream['weight']